header{
    padding: rem(64) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header{
        &__text{
            h1{
                color: $white-text;
            }
            p{
                color: $desatured-blue-text;
                font-weight: 700;
                font-size: em(14);
            }
        }
    }
}

main{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: rem(32);
    margin-bottom: rem(64);
    @media (max-width: 925px){
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 480px){
        grid-template-columns: 1fr;
    }

    .card{
        min-width: 25%;
        border-radius: rem(4);
        padding: rem(50);
        background-color: $dark-desatured-blue-card-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 0 rem(16) rgba($color: #000000, $alpha: .1);

        &__name{
            display: flex;
            align-items: center;
            p{
                color: $desatured-blue-text;
                font-weight: em(8);
                font-weight: 700;
                margin-left: rem(8);
                cursor: pointer;
                font-size: em(12);
            }
        }
        &__followers{
            margin: rem(16) 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                color: $white-text;
                font-size: em(48);
            }
            p{
                text-transform: uppercase;
                color: $desatured-blue-text;
                font-weight: 400;
                font-size: em(12);
                letter-spacing: 6px;
            }
        }
        &__today{
            display: flex;
            align-items: center;
            p{
                font-size: em(12);
                margin-left: rem(4);
            }
        }
    }
}